@import '../../../styles/variables.scss';

.card-container {
  position: relative;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 80px;
  background: $darkGreen;
  text-align: center;
  box-shadow: 0 1px 4px $black;

  .content {
    color: $yellow;
    font-size: 19px;
  }
  .action {
    position: absolute;
    bottom: 10px;
    cursor: pointer;

    &.yes {
      left: 10px;
      transition: transform .4s ease-in-out;
      
      &:hover{
        transform: scale(1.2, 1.2)
      }
    }

    &.no {
      right: 10px;
      transition: transform .4s ease-in-out;
      
      &:hover{
        transform: scale(1.2, 1.2)
      }
    }
  }
}