@import '../../../styles/variables.scss';

.card-container {
  position: relative;
  padding: 10px;
  margin: 10px;
  height: 80px;
  background: $darkGreen;
  text-align: center;
  box-shadow: 0 1px 4px $shadow;

  .card-content {
    color: $yellow;
    font-size: 19px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px $shadow;
  }
  .card-actions-section {
    height: 25px;
    display: flex;
    justify-content: space-between;

    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: transform .4s ease-in-out;

      .votes {
        margin: 0 5px;
        color: $white;
        align-self: flex-end;
        font-size: 13px;
      }

      &:hover{
        transform: scale(1.2, 1.2)
      }
    }
  }
}