@import '../../../styles/variables.scss';

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0px 2px 2px $white;
  background: $darkGreeBlue;

  .logo {
    font-weight: bold;
    font-size: 20px;
    color: $yellow;
  }
}