@font-face {
  font-family: "KrubRegular";
  src: url("/assets/fonts/Krub-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "KrubBold";
  src: url("/assets/fonts/Krub-Bold.ttf") format("ttf");
}