@import '../../../styles/mixins.scss';

.home-container {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;

  .fade {
    flex-basis: 100%;
  }
}

@include breakpoint(desktop) {
  .home-container {
    flex-wrap: wrap;
    flex-direction: row;
    .fade {
      flex-basis: 50%;
    }
  }
}